extends ./layout

block body
  #form_container
    h1= title
      a#reset(href='#')
        img(src='/img/reset.png' width='21' height='22')

    form(method='get' action='/api/placeholder')
      ul
        li
          label(for='e1') Logo

          select#e1(name='logo')
            option(value='logo1') Weborama
            option(value='logo2') WARM 1
            option(value='logo3') WARM 2
            option(value='logo4') Icon

          p: small
            | Available logos can be found
            a#logos(href=url.logos)  here
            | .

        li
          label(for='e2') Width (px)

          input#e2.text(
            maxlength='5'
            min='25'
            name='width'
            required
            type='number'
            value=width
          )

          p: small Width of the background rectangle in pixels.

        li
          label(for='e3') Height (px)

          input#e3.text(
            maxlength='5'
            min='25'
            name='height'
            required
            type='number'
            value=height
          )

          p: small Height of the background rectangle in pixels.

        li
          label(for='e4') Background color

          input#e4.text(
            maxlength='15'
            name='bcolor'
            type='text'
            value=bcolor
          )
            
          p: small
            | Both hexadecimal values and 
            a(href=url.colors target='_blank') color names 
            | are supported.

        li
          label(for='e5') Gravity

          select#e5(name='gravity')
            option(value='Center') Center
            option(value='North') North
            option(value='NorthWest') NorthWest
            option(value='West') West
            option(value='SouthWest') SouthWest
            option(value='South') South
            option(value='SouthEast') SouthEast
            option(value='East') East
            option(value='NorthEast') NorthEast

          p: small Where the logo should be placed relative to the image.

        li
          label(for='e6') Quality (!{quality}%)

          input#e6(
            max='100'
            min='25'
            name='quality'
            type='range'
            value=quality
          )

          p: small Lower values produce smaller files, while higher values tend to look better.

        li.buttons
          input(type='submit' value='Generate')

block footer
    span#hits(data-hits=hits) !{hits}
    |  unique images generated
